sudo: required
dist: trusty
language: cpp
before_install:
 - test $(uname) = "Linux" && sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test || true
 - test $(uname) = "Linux" && sudo add-apt-repository -y ppa:george-edison55/cmake-3.x || true
 - test $(uname) = "Linux" && sudo apt-get update -y || true
 - test $(uname) = "Linux" && sudo apt-get install -qq -y g++-5 g++-6 cmake cmake-data || true
matrix:
  include:
    - os: linux
      compiler: gcc-5
      install: export CXX="g++-5" CC="gcc-5"
    - os: linux
      compiler: gcc-6
      install: export CXX="g++-6" CC="gcc-6"
script:
  - mkdir -p build && cd build
  - cmake .. ${CMAKE_ARGS}
  - make
